<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/error.css">
	<title>oh no &ndash; Naman Sood</title>
</head>
<body>
	<h1>That was <em>not</em> supposed to happen.</h1>
	
	<p>Calm down. Take a deep breath. Error {{code}}s can happen to anyone. Seriously. It's alright.</p>
	
	<p>Try again in a while, or check out my <a href="https://nsood.in">website</a>, which should not have these issues. Probably.</p>
</body>
</html>
