<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/error.css">
	<title>something something princess in other castle &ndash; Naman Sood</title>
</head>
<body>
	<h1>Uncaught ReferenceError: {{path}} is not defined</h1>
	
	<p>Haha, just kidding. No, but really, there's no page here. This is what the kids call an &ldquo;Error 404&rdquo; situation.</p>
	
	<p>Consider visiting <a href='/'>my homepage</a>, which is guaranteed to exist.</p>
</body>
</html>

