<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="nsood, nfool, naman sood, nachloride, nsdcars5, namansood, namandoesnotpanic, tendstofortytwo, prose, blog">
	<meta property="og:url" content="https://prose.nsood.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{title}} – Prose">
	<meta name="twitter:creator" content="@tendstofortytwo">
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
	<title>{{title}} &ndash; Prose</title>
</head>
<body>
	<div class="grid hidden"></div>
	<header>
		<h1 class="title">Prose</h1>
		<nav>
			<a href="/">Home</a>
			<a href="https://nsood.in">Portfolio</a>
			<a href="https://nsood.in/#contact">Contact</a>
		</nav>
	</header>
	<main>
		{{{contents}}}
	</main>
	<footer>
		Made by Naman Sood, with love.
	</footer>
</body>
</html>
