<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="nsood, nfool, naman sood, nachloride, nsdcars5, namansood, namandoesnotpanic, tendstofortytwo, prose, blog">
	<meta name="description" content="{{subtitle}}">
	<meta property="og:url" content="https://prose.nsood.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{title}} – Prose">
	<meta property="og:description" content="{{subtitle}}">
	<meta property="og:image" content="{{path}}/about.png">
	<meta name="twitter:creator" content="@tendstofortytwo">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width">
	<link rel="alternate" type="application/rss+xml" href="https://prose.nsood.in/rss.xml">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/nunito.css"> 
	<link rel="stylesheet" href="/css/jetbrainsmono.css"> 
	<title>{{title}} &ndash; Prose</title>
</head>
<body>
	<div class="grid hidden"></div>
	<header>
		<h1 class="title">Prose</h1>
		<nav>
			<a href="/">Home</a>
			<a href="https://nsood.in">Portfolio</a>
			<a href="https://nsood.in/#contact">Contact</a>
		</nav>
	</header>
	<main>
		{{{contents}}}
	</main>
	<footer>
		<p>Made by Naman Sood, with love.</p>
		<p><a href="/rss.xml">RSS</a></p>
	</footer>
</body>
</html>
