body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-size: 20px;
    text-align: center;
}