on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy blog to hydrogen
    env:
      MACHINE: hydrogen
    steps:
    - name: Setup Tailscale
      id: ts-setup
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
      uses: tailscale/tailscale-deploy-github

    - name: Add SSH key
      id: ssh
      env:
        SSH_KEY: ${{ secrets.SSH_KEY }}
      run: |
        mkdir -p ~/.ssh
        MACHINE_IP="$(tailscale ip -6 $MACHINE)"
        ssh-keyscan $MACHINE_IP >> ~/.ssh/known_hosts
        printf "%s" "$SSH_KEY" > ~/.ssh/key
        chmod 600 ~/.ssh/key

    - name: Fetch code
      id: fetch
      uses: actions/checkout@v1

    - name: Compile blog binary
      id: compile
      run: go build -o prose .

    - name: Build tarball and ship it
      id: tarball-upload
      run: |
        TIME=$(date +%Y%m%d-%H%M%S)
        FILENAME=prose-${TIME}.tar.gz
        mkdir -p static/css
        tar -czf $FILENAME prose static/ styles/ templates/ posts/
        MACHINE_IP="$(tailscale ip -6 $MACHINE)"
        echo $FILENAME "github@[$MACHINE_IP]:/home/github/"
        scp -i ~/.ssh/key $FILENAME "github@[$MACHINE_IP]:/home/github/"
        ssh -i ~/.ssh/key "github@$MACHINE_IP" "mkdir -p ~/prose && tar -C ~/prose -xzf ~/$FILENAME"
